@tailwind base;
@tailwind components;
@tailwind utilities;

 .custom-shadow {
    @apply shadow-[0px_1px_1.5px_-1px_rgba(0,0,0,0.04),0px_1px_3px_0px_rgba(0,0,0,0.02)];
    box-shadow: inset 0px -1px 0px 0px rgba(0,0,0,0.08),
                0px 1px 1.5px -1px rgba(0,0,0,0.04),
                0px 1px 3px 0px rgba(0,0,0,0.02),
                inset 0 0 0 1px #d8dada;
  }

  .custom-shadowx {
   
   box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }